* {
  background-color: pink;
}
button {
  background-color: green;
}
nav,
a {
  display: flex;
  background-color: red;
  padding: 1rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
